
#section1{
    background: rgb(3,71,92);
    background: linear-gradient(90deg, rgba(3,71,92,1) 1%, rgba(3,9,13,1) 5%, rgba(3,19,32,1) 31%, rgba(2,29,50,1) 75%, rgba(3,5,6,1) 95%, rgba(3,71,92,1) 100%);

}

.navbar {
    background: rgb(3,71,92);
        background: linear-gradient(90deg, rgba(3,71,92,1) 1%, rgba(3,9,13,1) 5%, rgba(7,80,85,1) 31%, rgba(7,80,85,1) 75%, rgba(3,5,6,1) 95%, rgba(3,71,92,1) 100%);
    border: none;
    border-radius: 0%;
}
#description {
    font-size: x-large;
    font-style: italic;
}

#overlay {
    padding: 18%;
    position: relative;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to left, rgb(16, 16, 148),rgba(0, 11, 14, 0));
}
.intro hr{
    width: 150px;
   
}
.intro {
    color: white;
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}

.intro h1 {
    font-size: 54pt;
    margin-top: 20px;
    margin-bottom: 20px;
    color: coral;
}
.super{
    background: rgb(3,71,92);
    background: linear-gradient(90deg, rgba(3,71,92,1) 1%, rgba(3,9,13,1) 5%, rgba(7,80,85,1) 31%, rgba(7,80,85,1) 75%, rgba(3,5,6,1) 95%, rgba(3,71,92,1) 100%);
}

footer {
    background: rgb(3,71,92);
    background: linear-gradient(90deg, rgba(3,71,92,1) 1%, rgba(3,9,13,1) 5%, rgba(7,80,85,1) 31%, rgba(7,80,85,1) 75%, rgba(3,5,6,1) 95%, rgba(3,71,92,1) 100%);
    border: none;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    overflow: hidden;
    height: 60px;
    width: 100%;

}


/* custom css */

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

