{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div id="home">
<div  class="px-4 py-5 my-5 text-center super" style="width: 80%;margin: auto;font-style: italic;color: white; height:73vh;">
    <!-- <h1 class="display-5 fw-bold">WELCOME TO THE GALLERY</h1> -->
    <div style="padding-top: 2em;">
        <a href="#"><img src="https://fontmeme.com/permalink/211128/311bb6c21dac6c9ed0ba20eac46de6f0.png" alt="scarlet-josephine-font" border="0"></a>
    </div>
    <hr />
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is a photo gallery web Application where you can view photos and see the details of each photo.</p>
      
    </div>
    
    <div class="gif" style="display: inline-block;">
        <iframe src="https://giphy.com/embed/l41Yk0Ovlxko5oYco" width="250" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mountaindew-mtndew-l41Yk0Ovlxko5oYco"></a></p>
    </div>
</div>


<div class="head text-center " style=" width: 150px;margin: auto; margin-top: 2em;margin-bottom: 2em; background: black;">
    <a href="#"><img src="https://fontmeme.com/permalink/211128/5fcf2a176c3a725b19c673b5d0e6940b.png" alt="scarlet-josephine-font" border="0"></a>
</div>

<div class="row super" style="width: 80%;margin: auto;">
    <hr />
    {% for img in images%}
    <div class="col-lg-3 col-md-3">
        <a href="#{{img.id}}" data-toggle="modal" data-target="#{{img.id}}">
            <img src="{{img.image.url}}" class="img-responsive" alt="{{image.name}}" style="width:100%;width:100%">
            <h5 class="text-center">{{img.image_name}}</h5>
        </a>
        <div class="modal fade" id="{{img.id}}" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{img.image_name}}</h4>
                        <img src="{{img.image.url}}" class="img-responsive" alt="Image"
                            style="width:100%;max-width:100%">
                    </div>
                    <hr>
                    <div class="modal-body">
                        <p class="text-justify">{{img.description}}</p>
                        <p class="text-left"><b>Location:</b> {{img.location}}</p>
                        <p class="text-left"><b>Category:</b> {{img.category}}</p>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                        <input id="{{img.id}}-url" class="form-control input-md responsive" type="text"
                            value="{{img.image.url}}">
                    </div>

                    <button type="button" onclick="copyToClipboard();">Copy</button>

                    <script>
                        function copyToClipboard() {
                            var copyText = document.getElementById("{{img.id}}-url");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            alert('url copied');
                        }
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    {%endfor%}
</div>
</div>
<footer class="footer text-center" style="margin-top: 20px;">
    <a href="#"><img src="https://fontmeme.com/permalink/211128/543506d7e84f310a184590cf89415062.png" alt="scarlet-josephine-font" border="0"></a>  
</footer>
{% endblock %}